/* ==========================================================================
   # Reset
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========================================================================
   # Base
   ========================================================================== */
html, body, .root {
    height: 100%;
}

@import "mustic/mustic";
